body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.text-highlight {
    color: #f8f9fa; /* Un blanco más suave */
    font-weight: 500; /* Resalta el texto ligeramente */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Añade una sombra sutil */
    font-size: 1.2rem; /* Tamaño ajustado para buena legibilidad */
}

h1 {
    color: #333;
}

p {
    color: #666;
}
.card img {
    height: 200px;
    object-fit: cover;
}

.card-title {
    color: #007bff;
    font-weight: bold;
}

.card-text {
    color: #555;
}
.img-fluid {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.text-primary {
    font-weight: bold;
}

.text-muted {
    font-size: 1.1rem;
}

.hero {
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: white;
    padding: 5rem 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card img {
    height: 200px;
    object-fit: cover;
    border-bottom: 4px solid #007bff;
}

.services h2 {
    color: #007bff;
    font-weight: bold;
}

.testimonials {
    background: linear-gradient(135deg, #333, #555);
    color: white;
    text-align: center;
    padding: 3rem 1rem;
}

.btn-light {
    color: #007bff;
    font-weight: bold;
}

.btn-light:hover {
    background-color: #e6e6e6;
}

/* Estilo para la barra de navegación */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* Color de texto predeterminado */
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent; /* Línea inferior oculta inicialmente */
    padding-bottom: 5px; /* Espacio debajo del texto para la línea */
}

/* Efecto al pasar el cursor */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #00bcd4; /* Cambia el color del texto al pasar el cursor */
    border-bottom: 2px solid #00bcd4; /* Aparece una línea inferior */
}

/* Para el enlace activo */
.navbar-dark .navbar-nav .nav-link.active {
    color: #00bcd4;
    border-bottom: 2px solid #00bcd4;
    font-weight: bold; /* Resalta el enlace activo */
}

